<?php

return [

    'site-settings' => [

        'site-name' => 'Site1',

        'site-title-separator' => ' | ',

        'language-switcher' => true,

        'default-locale' => 'en-US',

        'locales' => ['en-US'],

        'default-currency' => 'USD',
        
        'supported-currencies' => ['USD'],

    ],

];