<?php

return [

    'site-settings' => [

        'site-name' => 'Multi-Tenant',

        'site-title-separator' => ' | ',

        'language-switcher' => true,

        'show-default-lang-uri' => true,

        'default-locale' => 'en-US',

        'locales' => ['en-US'],

        'default-currency' => 'USD',

        'supported-currencies' => ['USD'],

    ],

];